$white: #E5E5E5; 
$yellow: #F8C02D; 
$light-red: #FF614C;
$red: #FF2E00;
$grey: #333333; 
$black: #1D1A1B; 


body{
   background-color: $black;
}
.lines{
    opacity: 100%;
    color: $yellow;
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 5vh;
    margin-top: 5vh;
}


.container-us{

    &-title{
        color: $yellow;
        text-align: center;
        margin: 0 auto;
        padding: 5% 5%;
    }

    &-sections{
        text-align: center;
    }
    &-sections-info{
        padding: 2% 2%;
    }
    &-sections-info-text{
        color: $yellow;
        padding: 5% 5%;
    }
    &-sections-buttons{
        display: flex;
        justify-content: center;
        gap: 15vw;
    }
    .btn{
        border-radius: 0%;
    }

}

.ingreso{

    &-section{
       margin-top: 10vh;
       margin-bottom: 10vh;
       background-image: linear-gradient(to right, $yellow , transparent);
       display: flex;
       justify-content: center;

       &-img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;
        z-index: -1;
        width: 100%;
        height: auto;
        justify-items: center;
    }
 
       .btn{
          align-items: center;
          justify-content: center;
          background-color: $black;
          color: $yellow;
          height: min-content;
          position:absolute;
          margin-top:20vh;
          border-radius: 0%;
       }
       h1{
          color: $grey;
          text-align: center;
          position:absolute;
          left: 10vh;
          margin-top: 15vh;
          font-size: 2rem;
          font-weight: bold;
       }
       @media only screen and (max-width: 800px) {
 
          h1 { 
             display: none;
          }
       }
 
    }
 }

 .container-news{
    &-title{
        color: $yellow;
        text-align: center;
        margin: 0 auto;
        padding: 5% 5%;
        
    }

    &-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .card{
            margin-top: 10vh;
            background-color: $black;
            border-color: $black;
           
         }
         .card-text{
            color: $white;
         }

    }

    @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
        }
    }

 }

 .container-sections{
    text-align: center;

    &-title{
        color: $yellow;
        text-align: center;
        margin: 0 auto;
        padding: 5% 5%;
    }

    &-subtitle{
        text-align: center;
        color: $yellow;
    }
    &-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5% 5%;
        gap: 15vh;

        .card{
            border-color: $black;
            border-radius: none;
            background-image: linear-gradient(to right, $yellow , transparent);
        }
        .card-text{
            color: $white;
        }
    }
    &-img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;
        z-index: -1;
        width: 100%;
        height: auto;
        justify-items: center;
        margin-bottom: 10vh;

    }

    .grid-container {
        display: grid;
        column-gap: 5vw;
        row-gap: 5vh;
        grid-template-columns: repeat(2, 1fr);
        padding: 10vh;

        .grid-item {
            text-align: center;

            &-img{
                width: 100%;
                height: auto;
            }

            &-text{
                color: $yellow;
                font-weight: bold;
                font-size: 1rem;
                margin-top: 20vh;
            }
        }

        @media (max-width: 900px) {
            .grid-item-text{
                margin-top: 0;
                font-size: 0.5rem;
            }
        }

      }


    .btn{
        background-color: $yellow;
        border: none;
        color: $black;
    }
      
 }

 .container-ending{

    &-title{
        color: $yellow;
        text-align: center;
        margin: 0 auto;
        padding: 5% 5%;
    }

    &-img{
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

 }

 .footer-img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
 }


.container-footer{
    max-width: 100%;
    background-color: $yellow;
    padding: 5% 10%;

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 4rem;
      }

    &-logo{
        max-width: 100%;
        height: auto;
        display: flex;
    }
    &-descrp{
        margin-top: 5vh;
        width: 35vw;
    }
    &-descrp-text{
        font-size: 1rem;
    }
    &-info{
        margin-left: 50vw;
    }
    &-info-text{
        font-size: 1rem;
        margin-top: 5vh;
    }

    &-title{
        color: $black;
        text-align: center;
        margin: 0 auto;
        padding: 5% 5%;
    }
    &-social{
        width: fit-content;
        margin: 0 auto;

        &-social-logo{
            max-width: 100%;
            height: auto;
        }
    }

}




