body {
  background-color: #1D1A1B;
}

.lines {
  opacity: 100%;
  color: #F8C02D;
  position: relative;
  width: 90%;
  margin: auto;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.container-us-title {
  color: #F8C02D;
  text-align: center;
  margin: 0 auto;
  padding: 5% 5%;
}
.container-us-sections {
  text-align: center;
}
.container-us-sections-info {
  padding: 2% 2%;
}
.container-us-sections-info-text {
  color: #F8C02D;
  padding: 5% 5%;
}
.container-us-sections-buttons {
  display: flex;
  justify-content: center;
  gap: 15vw;
}
.container-us .btn {
  border-radius: 0%;
}

.ingreso-section {
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-image: linear-gradient(to right, #F8C02D, transparent);
  display: flex;
  justify-content: center;
}
.ingreso-section-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  justify-items: center;
}
.ingreso-section .btn {
  background-color: #1D1A1B;
  color: #F8C02D;
  height: min-content;
  border-radius: 0%;
  width: fit-content;
  position: absolute;
  margin-top: 6em;
}
.ingreso-section h1 {
  color: #333333;
  text-align: center;
  position: absolute;
  font-weight: bold;
  left: 0;
  font-size: 2em;
  margin-top: 3em;
  margin-left: 1em;
}
@media only screen and (max-width: 800px) {
  .ingreso-section h1 {
    display: none;
  }
  .ingreso-section .btn {
    font-size: 0.5rem;
  }
}

.container-news-title {
  color: #F8C02D;
  text-align: center;
  margin: 0 auto;
  padding: 5% 5%;
}
.container-news-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-news-cards .card {
  margin-top: 10vh;
  background-color: #1D1A1B;
  border-color: #1D1A1B;
}
.container-news-cards .card-text {
  color: #E5E5E5;
}
@media (max-width: 800px) {
  .container-news .flex-container {
    flex-direction: column;
  }
}

.container-sections {
  text-align: center;
}
.container-sections-title {
  color: #F8C02D;
  text-align: center;
  margin: 0 auto;
  padding: 5% 5%;
}
.container-sections-subtitle {
  text-align: center;
  color: #F8C02D;
}
.container-sections-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5% 5%;
  gap: 15vh;
}
.container-sections-cards .card {
  border-color: #1D1A1B;
  border-radius: none;
  background-image: linear-gradient(to right, #F8C02D, transparent);
}
.container-sections-cards .card-text {
  color: #E5E5E5;
}
.container-sections-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  justify-items: center;
  margin-bottom: 10vh;
}
.container-sections .grid-container {
  display: grid;
  column-gap: 5vw;
  row-gap: 5vh;
  grid-template-columns: repeat(2, 1fr);
  padding: 10vh;
}
.container-sections .grid-container .grid-item {
  text-align: center;
}
.container-sections .grid-container .grid-item-img {
  width: 100%;
  height: auto;
}
.container-sections .grid-container .grid-item-text {
  color: #F8C02D;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 20vh;
}
@media (max-width: 900px) {
  .container-sections .grid-container .grid-item-text {
    margin-top: 0;
    font-size: 0.5rem;
  }
}
.container-sections .btn {
  background-color: #F8C02D;
  border: none;
  color: #1D1A1B;
}

.container-ending-title {
  color: #F8C02D;
  text-align: center;
  margin: 0 auto;
  padding: 5% 5%;
}
.container-ending-img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.footer-img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.container-footer {
  max-width: 100%;
  background-color: #F8C02D;
  padding: 5% 10%;
}
.container-footer .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4rem;
}
.container-footer-logo {
  max-width: 100%;
  height: auto;
  display: flex;
}
.container-footer-descrp {
  margin-top: 5vh;
  width: 35vw;
}
.container-footer-descrp-text {
  font-size: 1rem;
}
.container-footer-info {
  margin-left: 50vw;
}
.container-footer-info-text {
  font-size: 1rem;
  margin-top: 5vh;
}
.container-footer-title {
  color: #1D1A1B;
  text-align: center;
  margin: 0 auto;
  padding: 5% 5%;
}
.container-footer-social {
  width: fit-content;
  margin: 0 auto;
}
.container-footer-social-social-logo {
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=index.css.map */